<head>
    <%- include('../partials/head') %>
    <script>
    function getCookie(name) {
        var dc = document.cookie;
        var prefix = name + "=";
        var begin = dc.indexOf("; " + prefix);
        if (begin == -1) {
            begin = dc.indexOf(prefix);
            if (begin != 0) return null;
        }
        else
        {
            begin += 2;
            var end = document.cookie.indexOf(";", begin);
            if (end == -1) {
            end = dc.length;
            }
        }
        // because unescape has been deprecated, replaced with decodeURI
        //return unescape(dc.substring(begin + prefix.length, end));
        return decodeURI(dc.substring(begin + prefix.length, end));
    } 

    window.addEventListener("load", function(event) {
        var teamName = getCookie("teamName");
        console.log(teamName)
        if (teamName == 'host') {
            document.getElementById('host-div').removeAttribute('hidden');
        }
    });
    
    function givePoints(team){
        if(team == 'orange'){
            var points = document.getElementById('orangePoints').value;
            console.log(points)
            addPoints('orange', points);
        } else if (team == 'blue'){
            var points = document.getElementById('bluePoints').value;    
            console.log(points)
            addPoints('blue', points);
        }        
    }

    </script>
</head>
<div class="containerfluid main">
    <div class="row">
        <!-- Team Orange page -->
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <h3 class="d-flex justify-content-center" id="orange-title">Team orange</h3>
                </div>
            </div>
            <div class="row" id="team-orange-players">
            </div>
            <div class="row">
                <div class="col-12">
                    <h5 class="d-flex justify-content-center">Points:</h5><h3 class="d-flex justify-content-center" id="orange-points-count">0</h3>
                </div>
            </div>
        </div>

        <!-- Team blue page -->
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <h3 class="d-flex justify-content-center" id="blue-title">Team blue</h3>
                </div>
            </div>
            <div class="row" id="team-blue-players">
            </div>
            <div class="row">
                <div class="col-12">
                    <h5 class="d-flex justify-content-center">Points:</h5><h3 class="d-flex justify-content-center" id="blue-points-count">0</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <button onclick="requestManager('buzz')" id="buzz">Buzzer</button>
    </div>
    <div class="row">
        <table class="table table-striped" id="question-table">
          </table>
    </div>

    <hr>
    <div id="host-div" hidden>
        <div class="row">
            <div class="col-6">
                <button class="btn btn-info normal-buttons" onclick="requestManager('resetBuzz')">Reset buzzer</button>
            </div>
            <div class="col-6">
                <button class="btn btn-info normal-buttons" onclick="requestManager('nextQuestion')">Next question</button>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        <label>Orange points</label>
                        <input type="text" id="orangePoints">
                        <button class="btn btn-info" onclick="givePoints('orange')">Give points</button>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        <label>Blue Points</label>
                        <input type="text" id="bluePoints">
                        <button class="btn btn-info" onclick="givePoints('blue')">Give points</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <table class="table table-striped" id="host-question-table">
                <tbody>
                    <tr>
                        <td colspan="2">
                            Here there is the question about something
                        </td>
                    </tr>
                    <tr>
                        <td>Answer 1<button onclick="showAnswer(0)">Show answer</button></td>
                        <td>Answer 5<button onclick="showAnswer(4)">Show answer</button></td>
                    </tr>
                    <tr>
                        <td>Answer 2<button onclick="showAnswer(1)">Show answer</button></td>
                        <td>Answer 6<button onclick="showAnswer(5)">Show answer</button></td>
                    </tr>
                    <tr>
                        <td>Answer 3<button onclick="showAnswer(2)">Show answer</button></td>
                        <td>Answer 7<button onclick="showAnswer(6)">Show answer</button></td>
                    </tr>
                    <tr>
                        <td>Answer 4<button onclick="showAnswer(3)">Show answer</button></td>
                        <td>Answer 8<button onclick="showAnswer(7)">Show answer</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-12">
                Next question: <h5 id="next-question"></h5>
            </div>
        </div>
    </div>
</div>